<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.tarc.login">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Login"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Registration" />
        <activity
            android:name=".TopActivity"
            android:label="PROIN" />
        <activity android:name=".Bottom1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CombineActivity"
            android:label="PROIN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CriticalActivity"
            android:label="Critical Illness - A Life Lady 360"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".combine1Activity"
            android:label="PROIN" />
        <activity
            android:name=".combine2Activity"
            android:label="PROIN" />
        <activity
            android:name=".combine3Activity"
            android:label="PROIN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditProfileActivity" android:label="Profile Setting"></activity>
    </application>

</manifest>